<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg">

    <h1>MM</h1>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item disabled">
                <a class="nav-link" href='#'>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/aap">Adopt-A-Plotters</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/org">Organizations </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/huki">Huki</a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="/fmp">FindMyPlot</a>
                </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <%= user.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">User Settings</a>
                    <a href="/users/logout" class="dropdown-item">Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Malama Maunalua</a>
                </div>
            </li>
        </ul>
    </div>
</nav>








    <canvas id="myChart"></canvas>

<script>



    let myChart = document.getElementById("myChart").getContext('2d');

    Chart.defaults.global.defaultFontFamily = 'Roboto';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = "#777";

    let mainChart = new Chart(myChart, {
        type: 'pie', //type of bar here
        data: {
            labels:['Adopt A Plotters', 'Orgainzations', 'Huki '],
            datasets:[{
                label: 'Pounds of Algae Collected',
                data:[
                    23,
                    65,
                    123 
                ],
                backgroundColor: [
                    '#E1C74F',
                    '#53B1D9',
                    '#72AD47'
                ],
                borderWidth: 3,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: 'black'
            }]
        },
        options:{
            title:{
                display: true,
                text: 'Total Bags of Algae Collected'
                
        }
        }

    });
</script>



<style type="text/css">
    nav {
        background: #0ea0d7
    }

    .nav-link {
        color: white
    }

    h1 {
        color: white
    }
    canvas{
        width: 50px;
        height: 50px;
    }
    #myChart{
        position: absolute;
    }




    
    @media (min-width: 768px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}
</style>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>

axios.get(`https://hu37ucyu34.execute-api.us-west-2.amazonaws.com/dev/getAdoptAPlot`)
        .then(function (response) {
            console.log('Successfully Connected To Database!', response);
        }).catch((err)=>{
            console.log(err);
        })


</script>