<head>
    <meta charset='utf-8' />
 
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
</head>


<nav class="navbar navbar-expand-lg">

    <h1>MM</h1>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item disabled">
                <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/aap">Adopt-A-Plotters</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/org">Organizations </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/huki">Huki</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/fmp">FindMyPlot</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <%= user.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">User Settings</a>
                    <a href="/users/logout" class="dropdown-item">Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Malama Maunalua</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<style type="text/css">
    nav {
        background: #0ea0d7
    }

    .nav-link {
        color: white
    }

    h1 {
        color: white
    }

    ;
</style>


<div class="row mt-5" id="form-container">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <form action="/users/login" method="POST" onsubmit="return false" id="main-form">
                <div class="form-group">
                    <label for="input">Longitude</label>
                    <input type="input" id="longitude" name="longitude" class="form-control" placeholder="Enter Longitude" />
                </div>
                <div class="form-group">
                    <label for="input">Latitude</label>
                    <input type="input" id="latitude" name="latitude" class="form-control" placeholder="Enter Latitude" />
                </div>
                <button type="submit" class="btn btn-primary btn-block" id="submit-button">Find Plot</button>

            </form>
            <style type="text/css">
                input {
                    border-radius: 0% !important;
                }

                button {
                    border-radius: 0% !important;
                }
            </style>
        </div>
    </div>
</div>


<div id='map' style='width: 925px; height: 600px;'></div>

<script>
    const longitude = document.getElementById("longitude");
    const latitude = document.getElementById("latitude");
    const form = document.getElementById("form-container");

    let latlong = {};
    document.getElementById("submit-button").addEventListener('click', () => {
        let bounds = [
[21.285976, -158.273325],
[21.722800, -157.625235]  
];
        latlong.lat = latitude.value;
        latlong.long = longitude.value;
        form.innerHTML = '';
        
        mapboxgl.accessToken =
            'pk.eyJ1IjoiaHRhZGV2cyIsImEiOiJjam1sY3dhZzYwNnZ0M3JsYnhncHRxaGtoIn0.JIObY2NWGtwzQnHCh2TIjw';
        let map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-157.938601, 21.287135],
            zoom: 11
        });

        console.log(latlong);
    })
</script>