

#login-page-redirect{
background: #ee7836;    
font-size: 1.077em;
text-decoration: none;
padding: 10px;
padding-left: 15px;
padding-right: 15px;
cursor: pointer;
}

#login-button{

}

.href{
    text-decoration: none;
    color:white;
}

#account-div{
    position: fixed;
    top: 30px;
    left: 1000px;
}

#dropdown-content {
    display: none;
    position: absolute;
    min-width: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-decoration: none;   
  }
  
  #account-name-placeholder {
    
  }
  #account-div:hover #dropdown-content {
    display: block;
    text-decoration: none;
    border: none;
    
  }

  #settings-page-redirect{
    font-size: 1.077em;
    text-decoration: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    background: transparent;
    color: black;
    border: none;
    }

#setting-dropdown-text{
    text-decoration: none;
    color: black;
    border: none;
}